@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');

/* BARRA DE MENU */
*{
    margin:0px
}

/* BARRA DE MENU */

/* ul do conteudo da barra */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   white;
}

.divMenu{
  box-shadow: 0px 3px 4px 0px #d6d5d5;
  
}

li {
  float: left;
}

li a {
  display: block;
  color:  #e0853b;
  text-align: right;
  padding: 1.2rem;
  text-decoration: none;
  
}

.liLogin{
    margin-top: -0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: right;
  font-size: 22px;
  font-weight: 550;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  height: 4rem;
}

.liLogin a{
  transition: 0.25s;
}

.liLogin a:hover{
  font-size: 23px;
}

.nomeUser{
    float: left;
    color:#e0853b;
    margin-top: 2rem;
    margin-right:1rem;
}

#botaoCad{
  background-color: #e0853b;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-right: 1rem;
  padding: 0.6rem;
  color: white;
  transition: 0.25s;
  box-shadow: 0px 1px 0.3rem 0px #d6d5d5;
}

#botaoCad:hover{
  font-size: 1.25rem;
}

.configimagem{
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.5s;
}

.configimagem:hover{
  width: 2.2em;
  height: 2.2em;
}

.backgroundImagem{
  background-color: white;
  border-radius: 100%;
  padding: 8px ; 
  width: 2em;
  height: 2em;
  margin: 1.1rem 1.4rem 0.8rem auto;
}

/* caract da font logo */
.aplicafontelogo{
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin-top: 0.4rem;
  transition: 0.25s;
}

.aplicafontelogo:hover{
  font-size: 25.8px;
}

  /* Icon menu hamburg */

  .containerIconMenu {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 1.55rem;
    margin-right: 0.8rem;
    position: static ;
  }

 #dropdown{
  font-size: 40px;
  color: #e0853b;
  transition: 0.5s;
 }

 #dropdown:hover {
  font-size: 43px;
}
  
    /* Botões dropdown */

  /* hamburg */

  menu{
    display: none;
    position: absolute;
    width: 15.7rem;
    top: 5.5rem;
  }
    
  menu > ul{
    list-style-type: none;
  }

  menu > ul > li{
    float: none;
  }

  menu > ul > li > a{
    padding: 0.7rem;
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: #e0853b;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    border-radius: 10px;
    transition: 0.5s;
  }

  menu > ul > li > a:hover {
    background: #e0853b ;
    color: white;

  }
 
/* Menu Flutuante */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#arrow{
  cursor: pointer;
  color: #e0853b;
  font-size: 60px;
  margin: 3.8rem auto 0.7rem auto;
  border: #e0853b solid 2px;
  border-radius: 50%;
  transition: 0.25s;
  transform: rotate(-180deg);
}

#arrow:hover {
  font-size: 62px;
}

#add{
  position: absolute;
  margin: 1px 0.7rem 0.7rem 0.6rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#add:hover {
  font-size: 57px;
}

#minus{
  position: absolute;
  margin: 1.4rem 0.7rem 0px 4.4rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#minus:hover {
  font-size: 57px;
}

#color{
  position: absolute;
  margin: 5.4rem 0.7rem 0.7rem 4.3rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#color:hover {
  font-size: 57px;
}

.menuFlut{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.botMenuFlut{
  position: absolute;
  display: none;
}

  /* //////////////////////////// */
  
.container{
  margin: auto auto;
  padding: auto;
  display: block;
  width: 60%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: larger;
}

.divWelc{
  margin: 10% 15%;
  width: 70%;
  display: block;
}

.divWelc > a {
  float: right;
}

.divWelc > h1{
  color: #e0853b;
}

.BotC{
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 1px 0.3rem 0px #d6d5d5;
  margin: auto auto 2rem auto;
  padding: 3rem 10rem 3rem 8rem;
  transition: 0.25s;
  cursor: pointer;
}

.BotC:hover{
  background-color: #f0f0f0;
  }

.BotC > span{
  display: block;
  margin: auto auto;
}

.divLowBot{
  display: flex;
}
.botMP{
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 1px 0.3rem 0px #d6d5d5;
  padding: 2.5rem;
  padding-right: 4rem;
  margin-right: 1.7rem;
  width: 13.7rem;
  transition: 0.25s;
  cursor: pointer;
  width: 40%;
}

.botMP:hover{
  background-color: #f0f0f0;
  }


.botMP > span{
  display: block;
  margin: auto auto;
  }

.botCI{
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 1px 0.3rem 0px #d6d5d5;
  padding: 2.5rem;
  padding-right: 4rem;
  padding-left: 3rem;
  margin-left: 1.3rem;
  width: 13.7rem;
  transition: 0.25s;
  cursor: pointer;
  width: 40%;
}

.botCI:hover{
  background-color: #f0f0f0;
  }

.botCI > span{
  display: block;
  margin: auto auto;
  }

#pencil{
  font-size: 40px;
  color:#d3d1d1;
}

#book{
  font-size: 40px;
  color:#d3d1d1;
  
}

#info{
  font-size: 40px;
  color:#d3d1d1;
}