
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');
  body{
    margin: 0px;
    font-family: 'nunito sans', sans-serif;
  
  } 

/* BARRA DE MENU */

/* ul do conteudo da barra */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   white;
}

.divMenu{
  box-shadow: 0px 3px 4px 0px #d6d5d5;
}

li {
  float: left;
}

li a {
  display: block;
  color:  #e0853b;
  text-align: right;
  padding: 1.2rem;
  text-decoration: none;
  
}

.liLogin{
  margin-top: 0.6rem;
  text-align: right ;
  float: right;
  font-size: 22px;
  cursor: pointer;
  font-weight: 550;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.25s;
}

.liLogin:hover{
  font-size: 23px;
}

.configimagem{
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.5s;
}

.configimagem:hover{
  width: 2.2em;
  height: 2.2em;
}

.backgroundImagem{
  background-color: white;
  border-radius: 100%;
  padding: 8px ; 
  width: 2em;
  height: 2em;
  margin: 1.1rem 1.4rem 0.8rem auto;
}

/* caract da font logo */
.aplicafontelogo{
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin-top: 0.4rem;
  transition: 0.25s;
}

.aplicafontelogo:hover{
  font-size: 25.8px;
}

  /* Icon menu hamburg */

  .containerIconMenu {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 1.55rem;
    margin-right: 0.8rem;
    position: static ;
  }

 #dropdown{
  font-size: 40px;
  color: #e0853b;
  transition: 0.5s;
 }

 #dropdown:hover {
  font-size: 43px;
}
  
    /* Botões dropdown */

  /* hamburg */

  menu{
    display: none;
    position: absolute;
    width: 15.7rem;
  }
    
  menu > ul{
    list-style-type: none;
  }

  menu > ul > li{
    float: none;
  }

  menu > ul > li > a{
    padding: 0.7rem;
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: #e0853b;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    border-radius: 10px;
    transition: 0.5s;
  }

  menu > ul > li > a:hover {
    background: #e0853b ;
    color: white;

  }
  /* profile */

.menuProf{
  display: none;
  position: absolute;
  margin-left: 75%;
}

.ulProf{
  list-style-type: none;
}
.liProf{
  float: none;
}
.aProf{
  padding: 0.7rem;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  color: #e0853b;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  box-shadow: 2px 3px 3px 1px #c2c1c1;
  border-radius: 10px;
}

/* Menu Flutuante */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#arrow{
  cursor: pointer;
  color: #e0853b;
  font-size: 60px;
  margin: 3.8rem auto 0.7rem auto;
  border: #e0853b solid 2px;
  border-radius: 50%;
  transition: 0.25s;
  transform: rotate(-180deg);
}

#arrow:hover {
  font-size: 62px;
}

#add1{
  position: absolute;
  margin: 1px 0.7rem 0.7rem 0.6rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#add1:hover {
  font-size: 57px;
}

#minus{
  position: absolute;
  margin: 1.4rem 0.7rem 0px 4.4rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#minus:hover {
  font-size: 57px;
}

#color{
  position: absolute;
  margin: 5.4rem 0.7rem 0.7rem 4.3rem;
  font-size: 55px;
  color: #e0853b;
  cursor: pointer;
  transition: 0.25s;
}

#color:hover {
  font-size: 57px;
}

.menuFlut{
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.botMenuFlut{
  position: absolute;
  display: none;
}

  /* ////////////////////////////////////// */

  /* CONTEUDO PAGINA */
  *{
    font-family: 'Nunito Sans', sans-seri
  }
  /* div conteudo */
  .container{
    margin:auto auto;
    padding: auto 3rem;
    display: block;
    width: 50%;
  }
  
  h1{
    color: #e0853b;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin: 1rem auto 1rem auto;
    
  }
  hr {
    border:none;
    width:100%;
    height: 2rem ;
    box-shadow: 0px 10px 6px -10px #d6d5d5;
    margin: -1.5rem 0rem 2rem 0rem ;
    padding: 0rem;
  }
  .divTiTuloForm{
    padding: 1rem 1rem 1rem 1rem;
  }
  #tituloForm{
    width: auto;
    margin: 1rem 1rem auto rem;
    border: none;
    font-size: 30px;
    font-weight: 700;
  }
  .divInfoForm{
    /* margin: 0rem 0rem 1rem; */
    margin-bottom: 1rem;
  }
  #numQuest{
    float:left;
    width: 5.5em;
    border:none;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 20px;
  }
  
  .inputSV{
    float: right;
    width: 60%;;
  }
  #formSelect{
    border:none;
    margin: 0rem auto;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 20px;
    color: rgb(134, 134, 134);
  }
  #valorQuest{
    float: right;
    width: 3em;
    border:none;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 20px;
  }
  #caixaTexto{
    width: 100%;
    height: 14rem;
    border:none;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  #table{
    margin-bottom: 1rem;
    margin-top: 1rem;

  }
  #checkText{
    position: relative;
    border:none;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 20px;
    margin:  0rem 0rem 0rem 0rem;
    width: 50%;
    height: 1.7rem;
  }
  #delete:hover {
    color: #b42e2e;
  }
  
  #check:hover {
    color: #ffffff;
    background-color: #4ea845;
    border-radius: 2px;
  }

  table{
    display: inline;
    width: 1rem;
  }  

  #delete_box{
    font-size: 35px;
    margin-top: -0.15rem;
  }
  #add2{
    font-size: 25PX;
  }

  #add2:hover {
    color: #ffffff;
    background-color: #e4e4e4;
    border-radius: 2px;
  }

  #add_box{
    margin-top: -1rem;
    float:left;
    font-size: 35px;
  }
  #add_box:hover{
    color:#e0853b
  }
  .botoesSR{
    width: 14rem;
    float:right;
  }
  #botaoRascunho{
    float: left;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  #botaoRascunho:hover {
    
    background-color: #e4e4e4;
  }
  #botaoSalva{
    float:right;
    background-color: #e0853b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  #botaoSalva:hover {
    background-color: #c97d3f;
  }