@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');
  body{
    margin: 0px;
  
}

/* BARRA DE MENU */

/* ul do conteudo da barra */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   white;
  }

  .divMenu{
    box-shadow: 0px 3px 4px 0px #d6d5d5;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color:  #e0853b;
    text-align: right;
    padding: 19px ;
    text-decoration: none;
    
  }
  
  /* li a:hover:not(.active) {
    background-color: #111;
  }
   */
  /* .active {
    background-color: #04AA6D;
   
  } */

  .liLogin{
    margin-top:13px;
    text-align: right ;
    float: right;
    font-size: 22px;
    cursor: pointer;
    font-weight: 550;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.25s;
  }

  .liLogin:hover{
    font-size: 23px;
  }

  .configimagem{
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.5s;
  }

  .configimagem:hover{
    width: 2.2em;
    height: 2.2em;
  }

  .backgroundImagem{
    background-color: white;
    border-radius: 100%;
    padding: 8px ; 
    width: 2em;
    height: 2em;
    margin: 19px 20px 10px 0px;
  }

  /* caract da font logo */
  .aplicafontelogo{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    margin-top: 7px;
    transition: 0.25s;
  }

  .aplicafontelogo:hover{
    font-size: 25.8px;
  }

    /* Icon menu hamburg */

    .containerIconMenu {
      cursor: pointer;
      margin-top: 24px;
      margin-left: 25px;
      margin-right: 10px;
      position: static ;
    }
  
   #dropdown{
    font-size: 40px;
    color: #e0853b;
    transition: 0.5s;
   }

   #dropdown:hover {
    font-size: 43px;
  }
    
      /* Botões dropdown */

    /* hamburg */

    menu{
      display: none;
      position: absolute;
      width: 250px;
    }
      
    menu > ul{
      list-style-type: none;
    }

    menu > ul > li{
      float: none;
    }
  
    menu > ul > li > a{
      padding: 10px;
      margin: 5px;
      background-color: white;
      text-decoration: none;
      color: #e0853b;
      font-weight: 600;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      box-shadow: 2px 3px 3px 1px #c2c1c1;
      border-radius: 10px;
      transition: 0.5s;
    }

    menu > ul > li > a:hover {
      background: #e0853b ;
      color: white;

    }
    /* profile */

  .menuProf{
    display: none;
    position: absolute;
    margin-left: 75%;
  }

  .ulProf{
    list-style-type: none;
  }
  .liProf{
    float: none;
  }
  .aProf{
    padding: 10px;
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: #e0853b;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    border-radius: 10px;
  }

  /* Menu Flutuante */

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  #arrow{
    cursor: pointer;
    color: #e0853b;
    font-size: 60px;
    margin: 60px 0px 10px 0px;
    border: #e0853b solid 2px;
    border-radius: 50%;
    transition: 0.25s;
    transform: rotate(-180deg);
  }

  #arrow:hover {
    font-size: 62px;
  }

  #add{
    position: absolute;
    margin: 1px 10px 10px 8px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #add:hover {
    font-size: 57px;
  }

  #minus{
    position: absolute;
    margin: 25px 10px 0px 69px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #minus:hover {
    font-size: 57px;
  }

  #color{
    position: absolute;
    margin: 85px 10px 10px 68px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #color:hover {
    font-size: 57px;
  }
  
  .menuFlut{
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  .botMenuFlut{
    position: absolute;
    display: none;
    float: right;
  }

  /* ///////////////// */
  
  /* DISPLAY DE AUDIO */

  /* barra de progres */
  .timeline {
    width: 100%;
    background:#fafafa;
    display: block;
    border-radius: 20px;
    width: 95%;
    padding: 2px 2px 2px 4px;
    margin: 10% 5% 5% 1%
  }

  /* bolinha de progres */
  .objProgress {
    width: 10px;
    height: 10px;
    background: #e0853b;
    border-radius: 100%;
  }

  /* config triang intrno play */
  .triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #fafafa;
    border-bottom: 10px solid transparent;
    margin:auto;
    align-items: center;
    display:inline-block;
    cursor: pointer;
  }

  /* config borda play */
  .borderTriangle{
    border-radius: 100%;
    border: solid  #fafafa ;
    display: inline-block;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 2px;
    padding-right: 6px;
    margin-top: 5px;
  
  }

  /* barras de pause */
  /* .play1, .play2 {
    height: 22px;
    width: 5px;
    background-color:rgb(47, 42, 42);
    margin-left:1px;
    display: inline-block;
    cursor: pointer;
    
   } */

   /* div para centralzr pause play */
   .center {
    margin-top: 9px; 
    margin-left: 35%;
    width: 45%;
    padding: 2px;
    /* border: solid coral; */
  }

  /* linha para progress inativa */
  hr{
    border-bottom: rgb(47, 42, 42) solid 3px;
    margin-top:30px;
    margin-bottom:0px;
  }

  /* config do display total */
  .containerPlayer{
    display:inline-block;
    position:fixed;
    right: 5rem;
    top: 20rem;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    background-color:#e0853b ;
    padding:2px 5px 1px 5px;
    align-items:center;
  
  }

  /* ///////////////// */
  
  /* CONTEUDO PAGINA */
  
  .divConteudo{
    margin: 30px 320px 30px 320px ;
    font-family: 'Nunito Sans', sans-serif;
  }
  .divInfoAlu{
    margin: 0px 5px 20px 5px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #d6d5d5;
    align-items: center;
  }
  
  .boxInfo{
    background:#f3f3f3;
    border-radius: 5px;
    margin: 2.4px auto 0px auto;
    width: 500px;
    height: 4vh;
    border: none;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding-left: 6px;
  }

  .labelInfo{
    float: left;
    margin-top: 8px;
    margin-left: 15px;
  }

  .divQuest{
    margin: 0px 5px 20px 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #d6d5d5;
  }

  .divValor{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: large;
  }

  .divResp{
   margin-top: 30px;
  }

 .botForw{
  float: right;
  box-shadow: 0px 1px 4px 0px #d6d5d5; 
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: 0.25s;
 }

 .botForw:hover{
  background-color: #f3f3f3;
 }

 #arrowFor{
  text-align: center;
 }
 
 .botBack{
  float: left;
  box-shadow: 0px 1px 4px 0px #d6d5d5;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: 0.25s;
 }

 .botBack:hover{
  background-color: #f3f3f3;
 }

 #arrowBac{
  text-align: center;
  transform: rotate(-180deg);
 }

#checkbox{
  cursor: pointer;
 }
