@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

/* BARRA DE MENU */

/* ul do conteudo da barra */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   white;
  }

  .divMenu{
    box-shadow: 0px 3px 4px 0px #d6d5d5;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color:  #e0853b;
    text-align: right;
    padding: 19px ;
    text-decoration: none;

  }

  /* li a:hover:not(.active) {
    background-color: #111;
  }
   */
  /* .active {
    background-color: #04AA6D;

  } */

  .liLogin{
    margin-top:13px;
    text-align: right ;
    float: right;
    font-size: 22px;
    cursor: pointer;
    font-weight: 550;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.25s;
  }

  .liLogin:hover{
    font-size: 23px;
  }

  .configimagem{
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.5s;
  }

  .configimagem:hover{
    width: 2.2em;
    height: 2.2em;
  }

  .backgroundImagem{
    background-color: white;
    border-radius: 100%;
    padding: 8px ; 
    width: 2em;
    height: 2em;
    margin: 19px 20px 10px 0px;
  }
  
  /* caract da font logo */
  .aplicafontelogo{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    margin-top: 7px;
    transition: 0.25s;
  }

  .aplicafontelogo:hover{
    font-size: 25.8px;
  }


    /* Icon menu hamburg */

    .containerIconMenu {
      cursor: pointer;
      margin-top: 24px;
      margin-left: 25px;
      margin-right: 10px;
      position: static ;
    }
  
   #dropdown{
    font-size: 40px;
    color: #e0853b;
    transition: 0.5s;
   }

   #dropdown:hover {
    font-size: 43px;
  }
    
      /* Botões dropdown */

    /* hamburg */

    menu{
      display: none;
      position: absolute;
      width: 250px;
    }
      
    menu > ul{
      list-style-type: none;
    }

    menu > ul > li{
      float: none;
    }
  
    menu > ul > li > a{
      padding: 10px;
      margin: 5px;
      background-color: white;
      text-decoration: none;
      color: #e0853b;
      font-weight: 600;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      box-shadow: 2px 3px 3px 1px #c2c1c1;
      border-radius: 10px;
      transition: 0.5s;
    }

    menu > ul > li > a:hover {
      background: #e0853b ;
      color: white;

    }
    /* profile */

  .menuProf{
    display: none;
    position: absolute;
    margin-left: 75%;
  }

  .ulProf{
    list-style-type: none;
  }
  .liProf{
    float: none;
  }
  .aProf{
    padding: 10px;
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: #e0853b;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    border-radius: 10px;
  }

  /* Menu Flutuante */

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  #arrow{
    cursor: pointer;
    color: #e0853b;
    font-size: 60px;
    margin: 60px 0px 10px 0px;
    border: #e0853b solid 2px;
    border-radius: 50%;
    transition: 0.25s;
    transform: rotate(-180deg);
  }

  #arrow:hover {
    font-size: 62px;
  }

  #add{
    position: absolute;
    margin: 1px 10px 10px 8px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #add:hover {
    font-size: 57px;
  }

  #minus{
    position: absolute;
    margin: 25px 10px 0px 69px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #minus:hover {
    font-size: 57px;
  }

  #color{
    position: absolute;
    margin: 85px 10px 10px 68px;
    font-size: 55px;
    color: #e0853b;
    cursor: pointer;
    transition: 0.25s;
  }

  #color:hover {
    font-size: 57px;
  }
  
  .menuFlut{
    position: fixed;
    margin: 380px 20px 30px 35px; 
  }
  .botMenuFlut{
    position: absolute;
    display: none;
  }

  /* /* /////////////////  */

.containerConteudo{
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(47, 42, 42);
    margin:0px 20%;
}

  /* CONTEUDO PAGINA*/

  
   /* conteudo infos ALUNO  */
  .containerInfoForms{
    box-shadow: 0px 10px 6px -10px #d6d5d5;
    display: flex;
    padding: 0px 10px ;
  }

  h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
    margin: 40px auto 0px auto;
  }
  .divInfoForms{
    padding: 10px 0;
    text-align: left;
    margin: 10px auto 20px 0px;
  }
    /* espaco entre infos forms  */
  .espace{
    margin: 0px 10px 0px 10px;
  }
  .porcent{
    margin: auto 0px 30px auto;
    font-size: 50px;
    font-weight: 300;

  }

   /* conteudo area resultado alunos  */
  .divResult {
    height: auto;
    width: auto;
    box-shadow: 0px 1px 4px 0px #d6d5d5;
    border: none;
    border-radius: 5px;
    margin: auto auto 0px auto;
    cursor: pointer;
  }
  /* .divResult:hover {
    background-color: #f0f0f0;
  } */

   /* icone esquerda */

   /* infos  resultado alunos  */
  .divInfoResposta{
  display: flex;
  margin-top: 30px;
  margin: 15px 10px auto 10px;
  }
  .numero{
    font-size: 25px;
    margin:auto 10px
  }
  .respostaCerta{
    text-align: left;
    margin: auto auto auto auto;
  }

  .respostaAluno{
    text-align: left;
    margin: auto auto auto auto;
  }

  #check{
    margin: auto 10px;
    font-size: 30px;
  }
  