/* .body{
    background-color: #d4650b;
    font-family:sans-serif;
}

.h1{
    color: #d4650b;
    text-align: center;
    margin: 10% auto;
    height: 30%;
}
.hr{
    margin: 10% auto;
    width: 60%;
    height: 10%;
    
}

.container{
    background-color: white;
    display: block;
    border-radius: 5%;
    margin: 30% auto;
    width: 40%;
    height: 50%; 
    border: none;
    box-shadow: 5px 5px 10px black;
    padding: 1px;
  
}
.barra{
    background-color: white;
    display: block;
    width: 100%;
    height: 100%; 
    border: solid black 2px;
    margin-top: 0px;

}
.button{
    background-color:#d4650b;
    display: block;
    margin: 10% auto;
    border-radius: 5%;
    border: none;
    width: 30%;
    height: 4vh;
    font-family:sans-serif; 

}
.input{
    background-color: rgb(240, 238, 235);
    border: none;
    display: block;
    margin: 2% auto;
    width: 65%;
    height: 4vh;

} */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');

body{
    background:#fafafa;
  }

  .divMenu{
    
    margin: 0px 0px 0px;
    overflow: hidden;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .aplicafontelogo{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    color:#e0853b;
    margin: 10px 0px 0px 10%  
  }

  .close {
    position: absolute;
    right: 0px;
    top: 18px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    color:  #e0853b;
    margin: 0px 10%
  }

  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  /* .container{
      background-color: white;
      border-radius: 10px;
      margin: 150px auto 20px auto;
      width: 400px;
      height: 430px; 
      border: none;
      box-shadow: 0px 3px 4px rgb(165, 163, 163);
      font-family: arial;
      padding:100px auto 20px auto;
      display:block;
  } */

 .container{
    background-color: white;
    display: block;
    border-radius: 15px;
    margin: 100px auto;
    width: 360px;
    height: 330px; 
    border: none;
    box-shadow: 0px 3px 4px rgb(165, 163, 163);
    padding: 1px; 
    
 }

  h1{
      color: #e0853b;
      font-size: 30px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 800;

  }

  .divH1{
    margin: 40px auto 40px auto;
    text-align: center;
  }

  .button{
      background-color: #e0853b;
      margin: 45px auto 20px auto;
      border-radius: 20px;
      border: none;
      width: 30%;
      height: 4vh;
      display: block;
      font-family: 'Nunito Sans', sans-serif;
  }
  
  .button:hover {
    background-color: #c97d3f;
  }
  
  input{
    background:#f3f3f3;
      border-radius: 5px;
      margin: 2% auto 0px auto;
      width: 250px;
      height: 4vh;
      border: none; 
      display: block;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 300;
      padding-left: 6px;
  }

  a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #e0853b;
    text-decoration: none;
  }
  .divA{
    margin: 5px auto 0px 178px;
  }
