@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@400;700&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');
body{
    background:#fafafa;
  }

  .divMenu{
    
    margin: 0px 0px 0px;
    overflow: hidden;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .aplicafontelogo{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    color:#e0853b;
    margin: 10px 0px 0px 10%  
  }

  .close {
    position: absolute;
    right: 0px;
    top: 18px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    color:  #e0853b;
    margin: 0px 10%
  }

  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  /* .container{
      background-color: white;
      border-radius: 10px;
      margin: 150px auto 20px auto;
      width: 400px;
      height: 430px; 
      border: none;
      box-shadow: 0px 3px 4px rgb(165, 163, 163);
      font-family: arial;
      padding:100px auto 20px auto;
      display:block;
  } */

 .container{
    background-color: white;
    display: block;
    border-radius: 15px;
    margin: 100px auto;
    width: 390px;
    height: 410px; 
    border: none;
    box-shadow: 0px 3px 4px rgb(165, 163, 163);
    padding: 1px; 
    
 }

  h1{
      color: #e0853b;
      font-size: 30px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 800;

  }

  .divH1{
    margin: 40px auto 40px auto;
    text-align: center;
  }

  .button{
      background-color: #e0853b;
      margin: 45px auto 20px auto;
      border-radius: 20px;
      border: none;
      width: 30%;
      height: 4vh;
      display: block;
      font-family: 'Nunito Sans', sans-serif;
  }
  
  input{
    background:#f3f3f3;
      border-radius: 5px;
      margin: 2% auto 0px auto;
      width: 250px;
      height: 4vh;
      border: none; 
      display: block;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 300;
      padding-left: 6px;
  }
  .inputNome{
    display: inline;
    width: 119px;
    height: 4vh;
  }
  .divInputNome{
    display:block;
    margin: auto 10% auto 17%
  }