
.direcao{
   margin: 10px 20px auto 10px;
}


.direcao2{
    margin: 60px 10px auto 1px;
}


.tela{
    display: inline-block;
    
}


.texto{
    border: 1px solid black;
    border-radius: 5px;
    width: 610px;
    height: 121px;
    box-shadow:2px 3px 3px 1px #c2c1c1;
    background-color: white;
    color: black;
}

.tamanho{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    background-color: white;
    color: black;
    border: none;
}


.titulo{
    width: 200px;
    height: 44px;
    border-radius: 5px;
    box-shadow:2px 3px 3px 1px #c2c1c1;
    background-color: #ffff;
    color: black;
    border: none;
}


.quest{
    width: 477px;
    height: 164px;
}

.quest2{
    width: 200px;
}

.box{
    width: 250px;
    height: 100px;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    background-color: #ffff;
    border-radius: 5px;
}




