
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;700;800&display=swap');
  body{
    margin: 0px;
    font-family: 'nunito sans', sans-serif;
  
  } 

/* BARRA DE MENU */

/* ul do conteudo da barra */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   white;
  }

  .divMenu{
    box-shadow: 0px 3px 4px 0px #d6d5d5;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color:  #e0853b;
    text-align: right;
    padding: 19px ;
    text-decoration: none;
    
  }

  .liLogin{
    margin-top:13px;
    text-align: right ;
    float: right;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    
  }

  .configimagem{
    width: 3em;
    height: 3em;
    cursor: pointer;
  }

  .backgroundImagem{
    background-color: transparent;
    border-radius: 100%;
    padding: 8px 20px 9px 2px; 
    width: 2em;
    height: 2em;
    margin: 10px 10px 10px 0px;
    
  }
  /* caract da font logo */
  .aplicafontelogo{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    margin-top: 7px;
    
  }

    /* Icon menu hamburg */

    .containerIconMenu {
      cursor: pointer;
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 10px;
      position: static ;
    }
  
    #checkbox-menu{
      position:relative;
      opacity: 0;
    }
  
    label{
      cursor: pointer;
      position: relative;
      display: block;
      width: 30px;
    }
  
    label span{
      position: absolute;
      display: block;
      height: 7px;
      width: 120%;
      border-radius: 30px;
      background-color: #e0853b;
      transition: 0.25s ease-in-out;
    }
  
    label span:nth-child(1){
      top: 0;
    }
    label span:nth-child(2){
      top: -11px;
    }
    label span:nth-child(3){
      top: -22px;
    }
  
    #checkbox-menu:checked + label span:nth-child(1){
      transform: rotate(-45deg);
      top: -8px;
    }
  
    #checkbox-menu:checked + label span:nth-child(2){
      opacity: 0;
    }
  
    #checkbox-menu:checked + label span:nth-child(3){
      transform: rotate(45deg);
      top: -8px;
    }
    
      /* Botões dropdown */

    /* hamburg */

    menu{
      display: none;
      position: absolute;
      width: 20%;
      cursor: pointer;
    }
      
    menu > ul{
      list-style-type: none;
    }

    menu > ul > li{
      float: none;
    }
  
    menu > ul > li > a{
      padding: 10px;
      margin: 5px;
      background-color: white;
      text-decoration: none;
      color: #e0853b;
      font-weight: 600;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      box-shadow: 2px 3px 3px 1px #c2c1c1;
      border-radius: 10px;
    }

    /* profile */

  .menuProf{
    display: none;
    position: absolute;
    margin-left: 75%;
    cursor: pointer;
  }

  .ulProf{
    list-style-type: none;
  }
  .liProf{
    float: none;
  }
  .aProf{
    padding: 10px;
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: #e0853b;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    box-shadow: 2px 3px 3px 1px #c2c1c1;
    border-radius: 10px;
  }
  /* ////////////////////////////////////// */


#delete{
color:grey;
}

#delete:hover{
  color:red
}


.telona{
  width: 50rem;
  height: 25rem;
  box-shadow: 2px 3px 3px 1px #c2c1c1;
  background-color: #ffff;
  border-radius: 5px;
  margin: 2rem auto auto 15rem;
  display:flex;
}

.espaco{
  margin: auto auto 21rem auto;
  border: none;
  background-color: white;
  border-radius: 1rem;
  width: 7rem;
  height: 2rem;
  box-shadow: 2px 3px 3px 1px #c2c1c1;;

}

.alinhamento{
 margin: 2rem auto auto 35rem;
 width: 3rem;
 height: 2rem;
 border: none;
 background-color: white;
 border-radius: 1rem;
 box-shadow: 2px 3px 3px 1px #c2c1c1;
}

.borda{
  border:none;
  border-radius: 1rem;
}

.texto{
  margin: 9rem auto auto auto;  
  width: 15rem;
  height: 10rem;
  border:none;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 3px 3px 1px #c2c1c1;
}  
